.bg{
    width: 100%;
    height: 100%;
    background-color: black;
}

.layer1, .layer2, .layer3, .layer4 {
    position: relative;
}

.layer1{
    z-index: 50;
}
.layer2{
    z-index: 40;
}
.layer3{
    z-index: 30;
}
.layer4{
    z-index: 20;
}
.layer5{
    z-index: 10;
}

.bg_img{
    width: 100%;
    position: fixed;
}

.bg_move{
    position: relative;
    background: black url(http://192.168.1.100:3000/ascention/clouds_full.png);
    background-size: cover;
    background-repeat: repeat-x;
    height: calc(100vw * 1552/1500);
    animation: clouds 30s linear infinite;
}

@keyframes clouds {
    from { background-position: 0 0;}
    to { background-position: 100vw 0; }
}

.l_img{
    width: 100%;
    position: fixed;
}

/* .start_view{
    min-height: 100vh;
} */

.text_hide{
    opacity: 0;
    transition: 1s;
}

.text_reveal{
    opacity: 100;
    transition: 2s;
}

.div_logo{
    height: calc(40vh + 80px);
    position: relative;
}

.a_logo{
    position: absolute;
    top: 100%;
    width: 100%;
    transform: translate(0, -50%);
}

.div_intro{
    margin-top: calc(10vw + 30px);
    margin-bottom: 50px;
}

.a_intro{
    font-family: Pixel;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.slide{
    width: 60vw !important;
    margin: 0 20vw !important;
}

.scroll{
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
}

.container__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.container__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.decrease_size{
    width: 100% !important;
}

.carousel-initialized{
    margin-right: 0 !important;
    width: 100%;
}

@media (max-width:500px){
    .a_intro{
        font-size: 10px;
    }
    .slide{
        width: 80vw !important;
        margin: 0 10vw !important;
    }
    .div_intro{
        margin-top: calc(13vw + 30px);
    }
}

@media (min-width:1100px){
    .a_intro{
        font-size: 25px;
    }
}

@media (min-width:1500px){
    .a_intro{
        font-size: 30px;
    }
}

@media (min-width:1800px){
    .a_intro{
        font-size: 35px;
    }
}

.custom_div{
    height: 110vw;
}