.bg{
    width: 100%;
    height: 100%;
    background-color: black;
}

.layer1, .layer2, .layer3, .layer4 {
    position: relative;
}

.layer1{
    z-index: 50;
}
.layer2{
    z-index: 40;
}
.layer3{
    z-index: 30;
}

.layer4{
    z-index: 20;
}

.layer5{
    z-index: 10;
}

.bg_img{
    width: 100%;
}

.yx{
    position: fixed;
    bottom: 0;
}

.start_view{
    min-height: 100vh;
}

.text_hide{
    opacity: 0;
    transition: 1s;
}

.text_reveal{
    opacity: 100;
    transition: 2s;
}

.div_logo{
    height: calc(40vh + 80px);
    position: relative;
}

.a_logo{
    position: absolute;
    top: 100%;
    width: 100%;
    transform: translate(0, -50%);
}

.div_intro{
    margin: 15vw 0;
}
.a_intro{
    font-family: Pixel;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.slide{
    width: 60vw !important;
    margin: 0 20vw !important;
}

.scroll{
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
}

.container__wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.container__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.decrease_size{
    width: 100% !important;
}
.carousel-initialized{
    margin-right: 0 !important;
    width: 100%;
}

@media (max-width:500px){
    .a_intro{
        font-size: 10px;
    }
    .slide{
        width: 80vw !important;
        margin: 0 10vw !important;
    }
}

@media (min-width:1800px){
    .a_intro{
        font-size: 30px;
    }
}